.sidebarList_c48ade {
    overflow: hidden;              /* hides inner content while closed */
    transition: width 0.25s ease;   /* smooth animation */
}

/* Adjust the width threshold as needed */
@media (max-width: 1000px) {
    
    /* Default (hidden) */
    .sidebarList_c48ade {
        width: 0;
        min-width: 0;                  /* prevents Discord from forcing a width */
    /* smooth animation */
    }
    .buttons__37e49 {
        display: none;
    }


    /* On hover of parent, expand */
    .sidebar_c48ade:hover .sidebarList_c48ade {
        width: 300px; /* or whatever width you want */
        min-width: 100px;
    }  
    .sidebar_c48ade:hover .buttons__37e49 {
        display: contents;
    }

}
